
/* Nav Bar */
#navbar-container{
    /*
    background-color: #5D3FD3;
    display: flex;
    align-items: center;
    justify-content: center;
    */
}

ul{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    color: #5D3FD3;;
    text-align: center;
    padding: 14px 16px;
    padding-bottom: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

li:hover{
    background-color: #5D3FD3;
    color: white;
}

/* Title Name */
#name-container{
    width: 100vw;
    background-color: #5D3FD3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 64px;
    line-height: 77px;
}
