/* Remove all margins on main page*/
body{
    margin: 0;
}

/* Set background for every other div */
.container{
    width: 100vw;
    overflow: hidden;
}

.container:nth-child(2){
    height: 300px;
}

.container:not(:first-child):not(:nth-child(2)){
    height: 500px;
    padding-bottom: 30px;
}

main > .container:nth-child(even){
    background-color: #5D3FD3;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main > .container:nth-child(odd){
    background-color: white;
    color:#5D3FD3; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Center titles */
.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set flex properties. row
 Note: May need to exclude last (Contact section)*/
.content-container:not(:nth-child(4)){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* width: 40vw; */
}

.content-container > div{
    margin-left: 5vw ;
    margin-right: 5vw ;
}

.left {
    float: left;
}

.right{
    float: right;
}

/* Nav Bar */
#navbar-container{
    position: fixed;
    /*
    background-color: #5D3FD3;
    display: flex;
    align-items: center;
    justify-content: center;
    */
}

.unordered-list{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 1px;
    overflow: hidden;
    background-color: white;
}

.list-item {
    float: left;
    /* color: #5D3FD3;; */
    text-align: center;
    padding: 14px 16px;
    padding-bottom: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

.list-item:hover{
    background-color: #5D3FD3;
    color: white;
}

/* Title Name */
#name-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 64px;
    line-height: 77px;
}

/* About me */
#selfie{
    width: 300px;
}

.languages-list{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.language-list-item{
    float: left;
    /* text-align: center; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
}

.language-list-item:hover{
    background-color: #5D3FD3;
    color: white;
}

/* Work History */
.card > img{
    height: 200px;
    width: 200px;
}

.card {
    width: 30vw;
}

/* Projects */
.collapsible-button {
    background-color:#5D3FD3;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 23vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 450;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.active, .collapsible-button:hover {
    background-color: mediumslateblue;
}
  
.content {
    width: 23vw;
    padding: 0;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible-button::after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.btn{
    background-color:#5D3FD3; /* Green */
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn > a {
    color:white;
    text-decoration: none;
}



/* Contact */
.contact-container > .content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa {
    background-color: white;
    color: #5D3FD3;
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.form-element{
    float: left;
}
 
.submit-button{
    background-color: white; 
    border: none;
    color:#5D3FD3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}