
/* Nav Bar */
#navbar-container{
    background-color: #5D3FD3;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

/* Title Name */
#name-container{
    background-color: #5D3FD3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 64px;
    line-height: 77px;

}
